  <mat-card class="custom-card">
    <mat-card-content>
      <form class="example-form">
      <mat-form-field appearance="legacy" class="example-full-width" style="margin-bottom: 16px;">
        <mat-label>E-mail</mat-label>
        <input matInput placeholder="Email" [formControl]="emailFormControl">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
        <mat-form-field appearance="legacy" class="example-full-width" style="margin-bottom: 16px;">
          <mat-label>Password</mat-label>
          <input matInput type=password placeholder="Password" [formControl]="passwordFormControl">
          <mat-error *ngIf="passwordFormControl.hasError('invalidPassword') && !passwordFormControl.hasError('required')">
            Please enter a valid password: 6-20 chars, 1 big char, 1 small char, 1 number, 1 special sign
          </mat-error>
          <mat-error *ngIf="passwordFormControl.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </form>
      <button mat-raised-button (click)="signIn()" [disabled]="!valid()">
        <mat-icon>person_add</mat-icon>
        Sign up
      </button>
      <button mat-raised-button style="margin-left: 15px;" (click)="login()" [disabled]="!valid()">
        <mat-icon>keyboard_tab</mat-icon>
        Log in
      </button>
    </mat-card-content>
  </mat-card>

