<form class="example-form">
  <mat-form-field appearance="legacy" class="example-full-width" style="margin-bottom: 16px;">
    <mat-label>E-mail</mat-label>
    <input matInput placeholder="New email address" [formControl]="emailFormControl">
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>
</form>
<button mat-raised-button style="margin-left: 15px;" (click)="changeEmail()" [disabled]="!valid()">
  <mat-icon>save</mat-icon>
  Change password
</button>
